.card {
    border-radius: 5px;
    background-color: lemonchiffon;
    text-align: center;
}

.cardBtn {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 1rem;
    border: solid black 1px;
    border-radius: 5px;
    background-color: burlywood;
}

.card_edit {
    margin: 1em 0;
    padding: 10px;
    border-radius: 5px;
    background-color: lemonchiffon;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 15px;
}

.btn_edit{
    border: solid black 1px;
    border-radius: 5px;
    background-color: burlywood;
}